<!DOCTYPE HTML>
<html lang="en" ng-app='quizzApp'>
<head>
    <meta charset="utf-8">
    <title>Welcome to Recruitment Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
   <!-- <script type="text/javascript" src="../dist/vendor.js"></script>
    <script type="text/javascript" src="../dist/script.js"></script>-->




    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/libs/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="../js/libs/bootstrap.min.js"></script>

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-cookies.min.js"></script>
    <script src="../js/angular-route.min.js"></script>
    <script src="../app.js"></script>

    <script src="../js/controller/logInController.js"></script>
    <script src="../js/controller/addQuestionsController.js"></script>
    <script src="../js/directive/userLogIn.js"></script>
<!--End Head Employe Section-->

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/font-awesome.min.css">



</head>
<body >

<div ng-view></div>

</body>
</html>
