<form method="post" class="form-horizontal" ng-controller="addQuestionsController">
    <div ng-repeat="item in QuestionList" ng-init="parentIndex = $index">
    <div class="form-group"  >
        <label class="col-xs-1 control-label">Question {{parentIndex+1}}:</label>
        <div class="col-xs-8">
            <input type="text" class="form-control"  placeholder="Enter Question..." />
        </div>
        <div class="col-xs-1">
            <button type="button" ng-if="$last" class="btn btn-primary addButton" ng-click="addQuestons($index)"><i class="fa fa-plus"></i></button>
            <button type="button" ng-if="!$first" class="btn btn-danger removeButton" ng-click="removeQuestons($index)"><i class="fa fa-trash-o"></i></button>
        </div>
    </div>
            <div class="form-group "  ng-repeat="answer in item.AnswerList" ng-init="childIndex= $index">
                <label class="col-xs-1 control-label">Answer {{childIndex+1}}:</label>

                <div class="col-xs-4">

                    <input type="text" class="form-control"  placeholder="Enter Answer..." />
                </div>
                <div class="col-xs-1">
                    <button type="button" ng-if="$last" class="btn btn-primary addButton" ng-click="addAnswers(parentIndex)"><i class="fa fa-plus"></i></button>
                    <button type="button" ng-if="!$first" class="btn btn-danger removeButton" ng-click="removeAnswers(parentIndex,childIndex)"><i class="fa fa-trash-o"></i></button>
                </div>

        </div>
    </div>

</form>
