<section ng-controller="logInController">
<div class="box">
	<div id="header">
		<div id="cont-lock"></div>
		<div id="bottom-head"><h1 id="logintoregister">Login</h1></div>
	</div>
	<form >
		<div class="group">
			<input class="inputMaterial" type="text" required>
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Username</label>
		</div>
		<div class="group">
			<input class="inputMaterial" type="password" required>
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>Password</label>
		</div>
		<button id="buttonlogintoregister" type="submit" ng-click="logInUser()" >Login</button>
	</form>
	<div id="footer-box"><p class="footer-text">Not a member?<span class="sign-up"> Sign up now</span></p></div>
</div>


<div id="container-floating">
	<a href="#" target="_blank"><span class="profile-name"></span></a>
	<div id="container-a">
		<div id="badge">S
		</div>
		<div id="letter">
			<a href="#"><span>S</span></a>
		</div>
	</div>

	<a href="#" target="_blank"><div class="nds nd1" data-toggle="tooltip" data-placement="left" data-original-title="Codepen"></div></a>
	<a href="#" target="_blank"><div class="nds nd3" data-toggle="tooltip" data-placement="left" data-original-title="Twitter"></div></a>
	<a href="#" target="_blank"><div class="nds nd4" data-toggle="tooltip" data-placement="left" data-original-title="G+"></div></a>
</div>
</section>